
#header
{
	height:100px;
	width:1200px;	
}

#DataTable tbody tr.odd, #DataTable tbody td.sorting_1  {
    background-color: #F8F8F8
}

#DataTable tbody tr.even {
    background-color: #F8F8F8
}
#DataTable tbody tr:hover {
    background-color: #F8F8F8;
    cursor: pointer
}

#DataTableDiv{
   height: 500px;
   width: 1200px;
   background-color: #F8F8F8
   } 

#DataDiv{
   border: 1px solid #aaa;
   background-color: #F8F8F8;

   }
#DataTable_filter{
  display:none;
}

#DataTableDiv {
   color: black;
   border: 1px solid #aaa;
   font-family: sans-serif;
   background-color: #F8F8F8;
   font-size: 14px;
   margin-top: 20px;
   margin-left: 25px;
   margin-right: 10px;
   margin-bottom: 100px;
   padding: 1px;
   padding-bottom: 20px;
   }

#DataTableControlsDiv {
   border: 1px solid #aaa;
   font-family: sans-serif;
   font-size: 12px;
   margin-top: 20px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 5px;
   background-color: grey;
   }

#TablesButtonsDiv{
   padding-left: 20px;
   padding-bottom: 5px;
   }

#DataTableFilterControlsDiv{
   font-family: sans-serif;
   font-size: 14px;
   margin-top: 40px;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 20px;
   }

#DataTableOutboundButtonDiv{
   margin-left: 120px;
   }

.tblControlButton {
   margin-bottom: 2px;
   }

