.body{margin-top:85px}
div.body_contents{max-width:auto;padding:0 20px; padding-left:2px;word-wrap:break-word; margin-left:280px; margin-right:500px; position:relative; top:60px; z-index:1}
div.utility_nav ul{ font-size:13px}

input[type=checkbox] { margin: 4px 0.5ex}
.runningHeader{color:#fff; font-family:Cambria, "Trebuchet MS", Helvetica, sans-serif;font-weight:300;font-style:normal; padding-top: 2.9em;}
.header .header_contents{margin:0 15px;max-width:initial;position:relative; z-index:10}

.wait, .wait *{
    cursor: wait !important;   
}

#mainContent{text-align:left;margin-left:auto;min-height:700px;overflow-y:auto; background:#F1F1F1; color:#000}

div.filter {border:1px solid #ccc;margin:0;padding-left:.5em;position:relative;background-color:#fff;}
div.filter input.searchbutton{border:0 none;height:2em;margin:0;padding:0; border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px}
div.filter input.searchbutton{background-color:#fff;color:#A9A9A9;width:2em;font-size: 13px;cursor:pointer;overflow:auto;-webkit-appearance:none;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px}
div.filter input.searchbutton{overflow:auto;position:absolute;right:0;top:0;width:2em;cursor:pointer;
      behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(90deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(90deg);
    /* Opera */
    -o-transform:rotate(90deg);
    /* IE9 */
    -ms-transform:rotate(90deg);
    /* IE6,IE7 */
}
div.filter input.searchbutton:hover{background-color:#60a8fa}
div.sitesearch form input.searchbox, div.sitesearch form input.searchbutton{font-size:13px;}
.searchBar{margin-left:250px;}

::-webkit-scrollbar{  width: 8px; }
::-webkit-scrollbar-track {  background-color:#F1F1F1;   }  
::-webkit-scrollbar-thumb {  background-color: #F1F1F1; border-radius: 7px;border: 3px solid transparent;  background-clip: content-box; }  
::-webkit-scrollbar-thumb:hover { background-color: #60a8fa; border: 3px solid #60a8fa;  background-clip: content-box;}  
.SideNav:hover::-webkit-scrollbar-thumb, #RightBar:hover::-webkit-scrollbar-thumb{ background-color: #60a8fa; }
.SideNav:hover, #RightBar:hover{ scrollbar-face-color: #60a8fa; }

.SideNav{ float:left; margin-top:5px;margin-left:15px;margin-right:15px;min-width:230px; position:fixed; overflow-y:scroll; z-index:10;
          scrollbar-face-color: #F1F1F1;scrollbar-track-color: #F1F1F1; /* IE */
}
.SideNav .filter{border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;min-width:230px; margin-top:5px}
@-moz-document url-prefix(http://),url-prefix(https://) {
   scrollbar {             -moz-appearance: none !important;   background: #F1F1F1 !important; }
   thumb,scrollbarbutton { -moz-appearance: none !important;   background-color: #F1F1F1 !important; }
   thumb:hover,scrollbarbutton:hover { -moz-appearance: none !important;   background-color: #60a8fa; !important;}
   scrollbarbutton { display: none !important; }
   scrollbar[orient="vertical"] { min-width: 8px !important;}
}



.filterOptions{list-style: none;margin-top:1em; margin-bottom:1em;padding-left:0;width:100%; font-size:0.85em; position:relative}
.filterOptions h2{margin-bottom:auto; margin-top:auto; font-size:1.5em}
.toClear{font-size:1em; float:right; position:absolute;top:3px; right:30px; color:#60a8fa;cursor:pointer;display:none}
.toSelectAll{font-size:0.9em;padding-left:2px; color:#60a8fa;cursor:pointer;}
.toggleFilterExpansion{font-size:1.5em; font-weight:bold;float:right; position:absolute;top:0; right:15px; color:#60a8fa;cursor:pointer;}
.toExpand{
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(90deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(90deg);
    /* Opera */
    -o-transform:rotate(90deg);
    /* IE9 */
    -ms-transform:rotate(90deg);
    /* IE6,IE7 */
}

.toContract{
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(-90deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(-90deg);
    /* Opera */
    -o-transform:rotate(-90deg);
    /* IE9 */
    -ms-transform:rotate(-90deg);
    /* IE6,IE7 */
}



.RightBar{right:15px; margin-top:5px;margin-right:15px;min-width:450px;  z-index:10; position:fixed;overflow-y:scroll }
.RightNavSection{min-width:200px; border-top:thick solid #60a8fa;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding-left:5px; margin-top:5px; padding-bottom:20px}
.RightNavSection div img{max-width:125px;max-height:150px;}
.glyphicon{ color:#60a8fa;padding-right:5px;padding-left:10px}

.DisplayResultSettings{clear:both; padding:10px 20px 0px 0px;margin: 0 300px 0 280px; cursor:pointer;position:fixed;z-index:10; background:#F1F1F1;}
.removableWord{ color: #60a8fa; }
.removableWord:hover{ color: black;  cursor: pointer;}
.hide-button a{  font-size: 0.9em;     color: #F1F1F1;     display:none;}
.removableWord:hover .hide-button a{  color: black; display:inline-block;}

.dropdown-menu { min-width: 150px;}
.dropdown-menu.columns-2 {	min-width: 200px;}
.dropdown-menu li a {
	padding: 5px 10px; font-weight: 300; color: #262626; }
	
.multi-column-dropdown {	list-style: none; -webkit-padding-start: 10px; -moz-padding-start: 10px; padding-left: 10px;}
[dir=ltr] .multi-column-dropdown {   padding-left: 10px; }
.multi-column-dropdown li a.selectedDisplay, .multi-column-dropdown li a.selectedSort, .multi-column-dropdown li a.selectedItemNumber{
	display: block; clear: both; white-space: normal; color: #60a8fa;font-weight: bold; }
.multi-column-dropdown li a .unselectedDisplay,.multi-column-dropdown li a .unselectedItemNumber{
	display: block; clear: both; color: #262626; white-space: normal; }
.multi-column-dropdown li a:hover {
	text-decoration: none; color: #262626; background-color: #f5f5f5; }
.navbar-nav>li>a{  padding:0; }

.pagination-sm>li>a{
padding:3px 8px
}
.pagination .active{ background:#60a8fa; color:#fff }
.hidePageNumber { display:none}
.displayPageNumber { display:block; cursor:pointer}

.ProfileContainer{position:relative;clear:both;margin-bottom:5px;border: solid black 2px; border-left:none; border-right:none; border-bottom:none; width:100%;height:100%; font-size:0.8em  }
.Profile_editPencil{float:right; color:#60a8fa;position:absolute;right:25px;margin-top:4px; text-align:center; cursor:pointer}
.toggleProfileContent{float:right; position:absolute;font-size:1.5em; right:10px; color:#60a8fa;text-align:end;cursor:pointer;}
.ProfilePicturePosition{float:left; min-width:5%;margin-left:5px;margin-right:5px;margin-top:5px}
.ProfileInfo{float:left; width:40%;margin-top:5px; margin-right:2px}
.ProfileBio{float:left; width:55%; text-align:justify; margin-top:5px; margin-bottom:5px; margin-right:5px}
.ResourceContact{float:right; width:40%; text-align:right; margin-top:5px; margin-bottom:5px; font-size:1em}
.ResourceMainInfo{float:left; width:55%; text-align:justify}

.fullProfile{clear:both;float:left;display:none}

.ActiveProfileContent{ display: block }
.FilteredProfileContent{ display: none }
.hideContent{ overflow: hidden;  height: 6em; }
.hideContentPtRes{ overflow: hidden;  height: 3.5em; }
.showContent{    height: auto; }
.filter .hideContent{ line-height: 1.5em;    height: 1.5em; } 

.hangingIndent {  padding-left: 110px ;  text-indent: -110px ; }

.downArrow{
    behavior:url(-ms-transform.htc);
    /* Firefox */
    -moz-transform:rotate(90deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(90deg);
    /* Opera */
    -o-transform:rotate(90deg);
    /* IE9 */
    -ms-transform:rotate(90deg);
    /* IE6,IE7 */
}


#Profile_template{
clear:both;margin-bottom:5px;border: solid black 2px; border-left:none; border-right:none; width:100%;height:100%; overflow-x:auto; line-height:2em; position:relative;  
}
#Profile_template_Info{ float:left; width:308px;margin-top:5px}
#Profile_template_Info_ptRes{ float:left; width:400px;margin-top:5px}

.addinputField{
   float:left; color:#60a8fa;  padding-left:15px; opacity:0.4 }

.addinputField:hover{ opacity:1 }

.sidebar_nav li:hover span{
	background: #B8B8B8;
	font-size: 1.5em;
}




.ActiveWords { text-decoration:none;font-style: italic;  }
.ActiveWords:hover { text-decoration:underline }

.SubmitProfile{
  -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
  -webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
  	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
  	background-color:#459bfc;	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
  	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
  	text-shadow:0px 1px 0px #263666;
	line-height:normal;

}

}
.SubmitProfile:hover {
	
     background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
     background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
     background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
     background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
     background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
     background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
     background-color:#0688fa;
}

.TemplateBioSearchbox{ line-height:normal; }

.plotOption{width:auto; display:inline-block}
#VizSubtitle{clear:both;}

.bar{ z-index:10}
.bar:hover {  fill: brown;z-index:10; cursor:pointer; }
.axis {  font: 10px sans-serif; }
.axis path, .axis line {
  fill: none;  stroke: #000;  shape-rendering: crispEdges; }
.x.axis path {  display: none; }

.d3-tip {z-index:100;}
.network-tip{
   max-width:300px; background:#F5F5F5; border-radius: 2px solid black;-moz-border-radius:2px solid black;-webkit-border-radius:2px solid black; 
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;

}
.node.fixed {
  stroke: red;
  stroke-width: 2.5px;

}
.link {
  stroke: #999;
  stroke-opacity: .6;
}

#states path {
  fill: #ccc;
  stroke: #fff;
}

path.arc {
  pointer-events: none;
  fill: none;
  stroke: #000;
  display: none;
}

path.cell {
  fill: none;
  pointer-events: all;
}

circle {
  fill-opacity: .8;
  stroke: #fff;
}

.mapCity:hover {
  fill: red
}

#cells g:hover path.arc {
  display: inherit;
}

#googleMapDiv {
  min-width: 200px;
  width: 100%;
  min-height: 300px;
  height: 100%;
  margin-top:30px;
  border:solid thin;
  
}

.TemplateTitle_Description{margin-left:35px}

@media screen and (max-width:1409px){
   .TemplateTitle_Description{margin-left:0;}
}
@media screen and (max-width:1015px){
  .dropFirst{display:none}
  div.body_contents{max-width:auto; margin-right:0;}
  .DisplayResultSettings{max-width:auto; margin-right:0;}
}
@media screen and (max-width:680px){
  .dropSecond{display:none}
  div.body_contents{margin-left:0;}
  .DisplayResultSettings{ margin-left:20px} 
  div.sitesearch form input.searchbutton {background-color: #459bfc;}
}

@media screen and (max-width:600px){
  .dropThird{display:none}
  .searchBar{margin-left:10px;}
}
